<h1><%= @list.name %></h1>

<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>

<div class="d-flex justify-content-evenly overflow-auto">
<% @list.bookmarks.each do |bookmark| %>
  <div class="card border shadow mb-5 bg-body " style="width: 500px; height: 400px;">
  <% @url = bookmark.movie.poster_url%>
    <img src="<%= @url%>" class="card-img-top" style="object-fit: cover; height: 200px;" alt="poster image">
    <div class="card-body overflow-auto">
      <p class="card-text fw-bold"><%= bookmark.movie.title%> • <%= bookmark.movie.rating%>/10</p>
      <p class="card-text"><%= bookmark.movie.overview %></p>
      <div class="d-flex justify-content-between p-0"><p class="card-text">❝<%= bookmark.comment %></p>
      <p class="card-text"><%= link_to "Delete", bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure?"}, class: "link-danger", style: "text-decoration: none"  %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
