<div class="header-row position-relative" id="header-row" style="padding: 0px; overflow:hidden; height:500px;">
        <!-- container-fluid is the same as container but spans a wider viewport,
    it still has padding though so you need to remove this either by adding
    another class with no padding or inline as I did below -->
   <div class="container-fluid " style="padding: 0px;">
      <div class="row">

               <img src="<%= @list.image_url%>" alt="list banner image" style="width: 100%;"></div>
      <div class="position-absolute top-50 start-50 translate-middle"><h1 class="text-white" style="text-shadow: 1px 1px 2px black"><%= @list.name %></h1>
  </div>
</div>
</div>


<div class="container d-flex flex-column">
  <div class="float-end m-1 text-end m-3">
    <%= button_to "Add a bookmark", new_list_bookmark_path(@list), method: :get, class: "btn btn-success rounded-3"%>
  </div>
  <div class="d-flex flex-wrap justify-content-evenly overflow-auto m-1">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="card border shadow m-3 bg-body " style="width: 40%; height: 400px;">
      <% @url = bookmark.movie.poster_url%>
        <img src="<%= @url%>" class="card-img-top" style="object-fit: cover; height: 200px;" alt="poster image">
        <div class="card-body overflow-auto">
          <p class="card-text fw-bold"><%= bookmark.movie.title%> • <%= bookmark.movie.rating%>/10</p>
          <p class="card-text"><%= bookmark.movie.overview %></p>
          <div class="d-flex justify-content-between p-0"><p class="card-text">❝<%= bookmark.comment %></p>
          <p class="card-text"><%= link_to "Delete", bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure?"}, class: "link-danger", style: "text-decoration: none"  %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
