<h1><%= @list.name %></h1>
<p>put the movies here</p>
<%= link_to "Add a bookmark", new_list_bookmark_path(@list) %>

<% @list.bookmarks.each do |bookmark| %>
  <div class="card border border-secondary shadow mb-5 bg-body " style="width: 500px;">
  <% @url = bookmark.movie.poster_url%>
    <img src="<%= @url%>" class="card-img-top" style="object-fit: cover; height: 200px;" alt="poster image">
    <div class="card-body border-secondary">
      <p class="card-text fw-bold"><%= bookmark.movie.title%></p>
      <p class="card-text"><%= bookmark.comment %></p>
      <p class="card-text"><%= link_to "Delete", bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure?"}  %></p>
    </div>
  </div>
<% end %>
